<!doctype html>
<html lang="{{ site:short_locale }}" class="h-full">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
    {{ tracking_code_manager:head }}
</head>
<header class="w-full mx-auto">
    {{ partial:nav }}
</header>
<body class="bg-white dark:bg-gray-900 font-sans leading-normal text-gray-800 flex flex-col min-h-full">
<section class="w-full mx-auto lg-px-6 pb-20 relative flex-grow">
    {{ template_content }}
</section>
{{ tracking_code_manager:body }}
</body>
<footer class="w-full mx-auto">
    {{ partial:footer }}
    {{ tracking_code_manager:footer }}
</footer>
</html>
